.w {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    padding-top: 18px;
    border-bottom: 2px solid #c81523;
}

div {
    display: block;
}

.yaoqiu {
    color: #c81523;
}

.rizhi img {
    border: 2px solid #010f0e;
}